/* home-btn */

/* .home-btn {
    opacity: 0;
}

.btn-visible {
    animation-name: btnVisible;
}

@keyframes btnVisible {
    0% {
        transform: translateX(-20deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
} */