:root {
    --main-color: #B22222;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-margin-block-end: 0;
    scroll-margin-block-start: 0;
    background-color: whitesmoke;
}


.font-1 {
    font-family: 'Karma', serif;
}

.font-2 {
    font-family: 'Raleway', sans-serif;
}

//mobile
header {
    padding: 0.5rem 0 0rem 0rem;
    height: 13vh;
    background-color: white;
    position: fixed;
    z-index: 100;
    // box-shadow: 0px 1px 5px var(--main-color);
}

main {
    padding-top: 5.5rem;
}



.logo a {
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--main-color);
    letter-spacing: 0.03rem;
    font-weight: bold;
}

.logo a:hover {
    color: var(--main-color);
}

.logo img {
    width: 3.7rem;
}


.logo svg {
    fill: var(--main-color);
    width: 1rem;
    height: 1rem;
}

#menu-icon svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--main-color);
    margin: 0.8rem 0 0 5rem;
    border: 1px solid var(--main-color);
    padding: 0.5rem;
}

.menu {
    position: fixed;
    z-index: 200;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color: white;


    bottom: 0;
    transform: translateY(500%);
    transition: 0.8s;
    box-shadow: 2px 2px 2px lightgrey;
}

.menu-activo {
    transform: none;
}

.menu ul {
    margin-top: 0rem;
}

.menu ul li {
    list-style: none;
    margin: 1.8rem 0rem 0rem 0rem;
    font-size: 1rem;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px var(--main-color);
    text-transform: uppercase;
}

.menu ul li a {
    text-decoration: none;
    color: var(--main-color);
    letter-spacing: 0.06rem;


}

//HOME
.home {
    position: relative;
    margin: 0 0 7.5rem 0;

}

.home-info {
    background-color: rgba(255, 255, 255, 1);
    height: 17vh;
    position: absolute;
    right: 0%;
    top: 100%;
    //  box-shadow: 0px 0px 10px var(--main-color);
}

.home-info p {
    color: var(--main-color);
    font-size: 1.5rem;
    text-shadow: 0.5px 0.5px 0.5px var(--main-color);
    letter-spacing: 0.05rem;
    font-style: italic;
    line-height: 2.1rem;
    margin: 1rem 0 0 1rem;
    padding: 0;
}



//CAROUSEL
.carousel {
    background-color: white;
}

.carousel-item img {
    width: 100%;
    height: 70vh;
}

.carousel-indicators button {
    display: none;
}

#animacion-home {
    opacity: 0;
}

.home-animacion {
    animation: visibleHome;
    animation-duration: 2s;
    animation-delay: 0.15s;
    animation-fill-mode: forwards
}

@keyframes visibleHome {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.home-img {
    position: relative;
}



.animacion-btn {
    animation-name: visible;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards
}

@keyframes visible {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}






//PRESUPUESTO
.presupuesto-- {
    background-color: var(--main-color);
    padding: 6rem 0 5rem 0;
}

.presupuesto-- svg {
    stroke: white;
    width: 7rem;
    height: 7rem;
}

.presupuesto-- p {
    color: white;
    margin: 1rem 0 1rem 0;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
}

.presupuesto-- a{
    color: white;

}

.presupuesto-- a:hover {
    color: white;
}


//NOSOTROS
#nosotros {
    padding: 6rem 0 0rem 0;
}

.nosotros-titulo h2 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    color: var(--main-color);
    margin: 1rem 0 1rem 0;
    font-weight: bold;
    text-shadow: 1px 1px 2px lightgray;
}

.nosotros-titulo p {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}


.herramientas-svg {
    width: 2.1rem;
    height: 2.1rem;
    margin: 1rem 1rem 1rem 0;
    background-color: rgba(245, 245, 245, 0.1);
    fill: black;
    //     border-radius: 50%;
    //  box-shadow: 2px 2px 2px lightgray;
}


.nosotros article {
    margin-top: 2.5rem;
}

.nosotros-texto {
    margin: 8rem 0rem 0 0rem;
    padding: 2rem 0.5rem;
    box-shadow: 6px 6px 15px lightgray;
    background-color: rgba(178, 34, 34, 1);

}

.nosotros-texto p {
    line-height: 2rem;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    padding: 0rem 1rem;
    color: white;
}

.nosotros-img {
    position: relative;
}

.nosotros-img img {
    width: 85%;
    background-color: white;
    padding: 0.3rem;
    box-shadow: 2px 4px 4px lightgrey;

    opacity: 0;
    transition: 1.1s ease-in-out all;
}

.nosotros-img img.visible {
    opacity: 1;
}

.nosotros-img .img-2 img {
    width: 55%;
    padding: 0.3rem;
    box-shadow: 2px 4px 4px lightgrey;
    position: absolute;
    top: 64%;
    right: -2%;
}




//SERVICIOS
#servicios {
    padding: 8rem 0 5rem 0;
    background-color: rgb(248, 248, 248);
}

.servicios-titulo h2 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 2px lightgray;
    color: var(--main-color);
    font-weight: bold;


}

.servicios-titulo p {
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
    margin: 0.5rem 0 0rem 0;
    text-align: center;
    font-weight: bold;
}

.servicios-titulo span {
    font-size: 1.2rem;
}

.servicios article {
    width: 100vw;
    margin: 0 0 1.5rem 0rem;

}

.servicios .opacity {
    background-color: #B22222;
    border-radius: 0px;
}


.servicios img {
    width: 100vw;
    height: 50vh;
    opacity: 0.6;
    // box-shadow: 8px 8px 10px lightgrey;
    transition: 0.4s;
    border-radius: 0px;
}


.servicios article div a {
    position: relative;
    text-decoration: none;

    opacity: 0;
    transition: 1s ease-in-out all;
}

.servicios article div a.visibleImg {
    opacity: 1;
}

.servicios article div a p {
    position: absolute;
    color: white;
    font-size: 1.7rem;
    font-weight: bolder;
    top: 40%;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px lightgrey;
}

//INSTAGRAM--
.instagram-- {
    background-color: var(--main-color);
    padding: 7rem 0;
    color: white;
}

.instagram-- h6 {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}

.instagram-- a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.06rem;
    font-size: 2rem;
    transition: 0.7s;
}

.instagram-- a:hover {
    color: white;
    transform: scale(1.1);
}

.instagram-- svg {
    width: 2rem;
    height: 2rem;
    fill: white;
}



//CONTACTO
#contacto {
    background-color: rgb(248, 248, 248);
    padding: 0rem 0;

}

.contacto h2 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
     text-shadow: 1px 1px 2px lightgray;
    color: var(--main-color);
    padding: 6.5rem 0 1.5rem 0;
    font-weight: bold;

}

.contacto-info .herramientas-contacto-svg {
    width: 2rem;
    height: 2rem;
    fill: var(--main-color);
    margin: 0.3rem 0;
}


.formulario {

    padding: 2rem 0 2rem 0;
    // background-color:rgba(178, 34, 34,0.2);
    background-color: rgba(0, 0, 0, 0.35);
}

.formulario svg {
    fill: var(--main-color);
    width: 1.1rem;
    height: 1.1rem;
    margin: 0 0.1rem 0 0;
}

.formulario .iconos {
    margin: 0.5rem 0;
    color: white;
    text-align: center;
}

.formulario .iconos:active {
    color: white;
}

.formulario a {
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    letter-spacing: 0.03rem;
}


.formulario p {
    color: white;
    font-size: 1.9rem;
    text-shadow: 0.5px 0.5px 0.5px white;
    letter-spacing: 0.03rem;


    opacity: 0;
    transition: 1.2s ease-in-out all;
    transform: scale(0.9);
}

.formulario p.animacion-contacto {
    opacity: 1;
    transform: scale(1);
}


//FORMULARIO
form {
    margin: 2rem 0 0 1rem;
}

form .form-control {
    margin: 0 0 1rem 0;
    width: 95%;
    border-radius: 1px;
    font-size: 0.9rem;
    padding: 0.6rem;
}

form .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0 none;
    border: 1px solid var(--main-color);
}

form textarea {
    resize: none;
}

form button {
    background-color: var(--main-color);
    color: white;
    border: 2px solid transparent;
    padding: 0.5rem 1rem;
    transition: 0.6s;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
}

form button:hover {
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

footer {
    background-color: rgb(248, 248, 248);
    color: var(--main-color);
    font-weight: 100;
    padding: 3rem 0 1rem 0;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}







.thankyou {
    padding: 4rem 0;
}

.thankyou .logo img {
    width: 3.5rem;
    height: 4rem;
}

.thankyou .logo a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #B22222;
    margin: 0 0 2rem 0;
}

.thankyou p {
    font-size: 1.2rem;
    font-weight: bold;
}

.thankyou a {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}




@media (min-width: 375px) {

    .home-info p {
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    }

    //FORMULARIO
    form {
        margin: 2rem 0 0 1rem;
    }

    form .form-control {
        margin: 0 0 1rem 0;
        width: 95%;
    }
}

@media (min-width: 425px) {



    //HOME
    .home-info p {
        margin: 1rem 0 0 1.5rem;
        font-size: 1.6rem;
    }


    //NOSOTROS
    .nosotros {
        padding: 6rem 0 8rem 0;
    }

    .nosotros h2 {
        font-size: 3rem;
    }

    .nosotros-texto {
        margin: 9rem 0 0 0;
        padding: 2rem 2rem 4rem 2rem;
    }

    .nosotros-texto p {
        font-size: 0.9rem;
    }

    .nosotros-img img {
        width: 75%;
    }

    .nosotros-img .img-2 img {
        width: 55%;
    }

    //SERVICIOS
    #servicios {
        padding: 8rem 0 5rem 0;
    }

    .servicios-titulo h2 {
        font-size: 3rem;
    }

    .servicios img {
        height: 55vh;
    }

    //CONTACTO
    .contacto h2 {
        font-size: 3rem;
    }

    //FORMULARIO
    form {
        margin: 2rem 0 0 2rem;
    }

    form .form-control {
        margin: 0 0 1rem 0;
        width: 90%;
    }

}


//tablet
@media (min-width: 768px) {

    header {
        padding: 0.7rem 0 0rem 0;
        height: 13vh;
    }

    main {
        padding-top: 5.5rem;
    }

    .logo a {
        margin: 0 0rem 0 0;
        font-size: 0.7rem;
    }

    .logo img {
        width: 4rem;
    }

    .menu {
        height: 40vh;
    }

    .menu ul li {
        margin: 1.7rem 0rem 0rem 0rem;
        font-size: 1.2rem;
    }

    #menu-icon svg {
        width: 2.7rem;
        height: 2.7rem;
        margin: 0.7rem 3rem 0 0rem;
    }

    //HOME
    .home {
        margin: 0;
    }

    .home-info {
        height: 12vh;
        top: 87%;
        right: 0%;
        box-shadow: none;
    }

    .home-info p {
        margin: 0.4rem 0 0 0;
        letter-spacing: 0.2rem;
        font-size: 2rem;
    }

    //CAROUSEL

    .carousel-item img {
        width: 100%;
        height: 85vh;
    }

    //PRESUPUESTO
    .presupuesto-- {
        padding: 8rem 0 7rem 0;
    }

    .presupuesto-- svg {
        width: 8rem;
        height: 8rem;
    }

    .presupuesto-- p {
        line-height: 2.4rem;
        font-size: 2.2rem;
        letter-spacing: 0.05rem;
    }


    //NOSOTROS
    .nosotros-titulo h2 {
        font-size: 4rem;
        letter-spacing: 0.6rem;
        margin: 3rem 0 0 0;
    }

    .nosotros-titulo p {
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
    }

    .herramientas-svg {
        width: 2.5rem;
        height: 2.5rem;

    }

    .nosotros-texto {
        margin: 10rem 0 0 0;
        padding: 2rem 3rem 2rem 4rem;
    }

    .nosotros-texto p {
        font-size: 1rem;
        line-height: 2.3rem;

    }

    .nosotros-img img {
        width: 55%;

    }

    .nosotros-img .img-2 img {
        width: 35%;
        right: 5rem;

    }


    //SERVICIOS
    #servicios {
        padding: 10rem 0 5rem 0;
    }

    .servicios-titulo h2 {
        font-size: 4.5rem;
        letter-spacing: 0.8rem;
    }

    .servicios-titulo p {
        font-size: 1rem;
        padding: 0 2rem;
    }

    .servicios-titulo span {
        font-size: 2rem;
    }

    .servicios article {
        margin: 0 0 2.5rem 0;
    }

    .servicios img {
        width: 80vw;
        height: 65vh;
    }

    .servicios img:hover {
        transform: scale(1.1);
    }

    .servicios article div a p {
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
        top: 40%;
    }

    //INSTAGRAM--
    .instagram-- {
        padding: 8rem 0;
    }

    .instagram-- h6 {
        font-size: 1rem;
        letter-spacing: 0.05rem;
    }

    .instagram-- a {
        font-size: 3rem;
    }

    .instagram-- svg {
        width: 2.3rem;
        height: 2.3rem;
        fill: white;
    }

    //CONTACTO

    .contacto h2 {
        font-size: 4.5rem;
        letter-spacing: 0.8rem;
    }

    .formulario {
        padding: 2.5rem 0 2.5rem 0;
    }

    .formulario a {
        font-size: 1rem;
    }

    .formulario p {
        font-size: 2.4rem;
    }

    .formulario svg {
        width: 1.1rem;
        height: 1.1rem;
        margin: 0 0.1rem 0 0;
    }

    //FORMULARIO
    form {
        margin: 2rem 0 0 7rem;
    }

    form .form-control {
        margin: 0 0 1rem 0;
        width: 80%;
    }

    footer {
        padding: 2rem 0 0.8rem 0;
    }

  



}


//desktop
@media (min-width: 992px) {

    header {
        height: 14vh;

    }

    main {
        padding-top: 4.7rem;
    }

    .logo a {
        margin: 0;
    }

    nav ul li {
        list-style: none;
        margin: 1.2rem 1rem 0 1rem;
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    nav ul li a {
        text-decoration: none;
        letter-spacing: 0.08rem;
        transition: 0.5s;
        font-weight: bold;
        color: var(--main-color);
    }

    nav ul li a:hover {
        text-shadow: 1px 1px 1px white;
        color: black;

    }

    //HOME
    .home-info {
        height: 15.5vh;
        right: 0%;
        top: 83%;


    }

    .home-info p {
        font-size: 2.1rem;
        letter-spacing: 0.25rem;
        margin: 1.4rem 0rem 0.5rem 0;
    }

    .animacion-btn {
        animation-duration: 2.8s;
    }

    @keyframes visible {
        0% {
            opacity: 0;
            transform: translateY(80px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    //CAROUSEL
    .carousel {

        width: 100%;
    }

    .carousel-item img {
        width: 100%;
        height: 90vh;
        margin: 0 0 0 0rem;
    }

    .carousel-indicators button {
        margin: 0 0 5rem 0;
        display: inline;
    }

    //NOSOTROS

    .nosotros {
        padding: 8rem 0 6rem 0;
    }

    .nosotros h2 {

        margin: 0 0 3rem 0;

    }

    .nosotros-texto {
        margin: 0;
        padding: 2rem 1rem 10rem 2rem;
    }

    .nosotros-texto p {
        line-height: 2.2rem;
        font-size: 0.9rem;
    }


    .nosotros-img img {
        width: 90%;
        height: 65vh;
        padding: 0.4rem;
    }

    .nosotros-img .img-2 img {
        width: 40%;
        height: 40vh;
        top: 48%;
        right: 5%;
        padding: 0.4rem;
    }

    //SERVICIOS
    #servicios {
        padding: 12rem 0 10rem 0;
    }

    .servicios-titulo p {
        font-size: 0.9rem;
        letter-spacing: 0.03rem;
        margin: 1rem 0 4rem 0;
        padding: 0 12rem;
    }


    .servicios img {
        width: 80vw;
        height: 80vh;
        opacity: 0.5;

    }

    .servicios article div a p {
        font-size: 2.2rem;
    }

    .varios {
        margin: 0rem 0 0 0;
    }

    .contacto {
        margin: 4rem 0 0 0;
    }

    .contacto-info {
        margin: 3rem 0 0 0;
    }

    .contacto-info .herramientas-contacto-svg {
        width: 3rem;
        height: 3rem;
    }

    .formulario p {
        font-size: 2.2rem;
    }

    .formulario {
        border-left: 22px solid  rgb(248, 248, 248);
        border-right: 22px solid  rgb(248, 248, 248);
        border-bottom: 22px solid  rgb(248, 248, 248);
    }

    .formulario a {
        font-weight: normal;
    }

    //FORMULARIO
    form {
        margin: 1rem 5rem 0 0;
    }

    form .form-control {
        margin: 0 0 1rem 0;
        width: 100%;
    }



    footer {
        padding: 1rem 0 0.8rem 0;
    }


}

@media (min-width: 1024px) {


    main {
        padding-top: 4.5rem;
    }

    nav ul li {
        list-style: none;
        margin: 1.2rem 1.5rem 0 1rem;

    }


    //PRESUPUESTO
    .presupuesto-- p {
        line-height: 2.8rem;
        font-size: 2.5rem;
    }

    .presupuesto-- svg {
        width: 9rem;
        width: 8rem;
    }


    //NOSOTROS
    .nosotros {
        padding: 6rem 0 8rem 0;
    }

    .nosotros h2 {
        font-size: 5rem;
        margin: 0 0 2rem 0;
    }

    .herramientas-svg {
        width: 2.8rem;
        height: 2.8rem;
        margin: 1rem 1rem 1rem 0;
        background-color: whitesmoke;

    }

    .nosotros-texto {
        margin: 0;
        padding: 0rem 1rem 10rem 1rem;
    }

    .nosotros-texto p {
        line-height: 2.2rem;
        font-size: 0.95rem;
    }

    .nosotros-img {
        position: relative;
    }

    .nosotros-img img {
        width: 95%;
        height: 60vh;
        box-shadow: 2px 4px 4px lightgrey;
    }

    .nosotros-img .img-2 img {
        width: 40%;
        height: 35vh;
        box-shadow: 2px 4px 4px lightgrey;
        position: absolute;
        top: 40%;
        right: 5%;
    }

    //SERVICIOS
    #servicios {
        padding: 12rem 0 10rem 0;
    }

    .servicios-titulo h2 {
        font-size: 4rem;
    }

    .servicios-titulo p {
        padding: 0 0rem;
    }

    .servicios article {
        width: 100vw;
        margin: 0 0 3.5rem 0;
    }

    .servicios img {
        width: 65vw;
        height: 78vh;
        opacity: 0.5;
    }

    .servicios article div a p {
        position: absolute;
        color: white;
        letter-spacing: 0.5rem;
        top: 40%;
        font-size: 2.2rem;
    }

    //CONTACTO
    .contacto h2 {
        font-weight: bold;
    }

    //INSTAGRAM--
    .instagram-- {
        padding: 10rem 0;
    }

    .instagram-- a {
        font-size: 3.3rem;
    }

    .instagram-- svg {
        width: 2.7rem;
        height: 2.7rem;
        fill: white;
    }

    //FORMULARIO
    form {
        margin: 1rem 5rem 0 0;
    }

    form .form-control {
        margin: 0 0 1rem 0;
        width: 100%;
        font-size: 1rem;
    }


    .formulario {
        padding: 3rem 0 3rem 0;
    }

    .formulario p {
        font-size: 2rem;
    }

    .formulario svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}

@media (min-width: 1440px) {

    header {
        padding: 0.5rem 0 0rem 0;
        height: 13vh;


    }

    main {
        padding-top: 5.5rem;
    }

    .logo {
        padding: 0 3rem 0 0rem;
        text-align: center;
    }

    .logo a {
        text-decoration: none;
        font-size: 0.8rem;
        margin: 0rem 0 0rem 2rem;
        letter-spacing: 0.03rem;
        color: var(--main-color);

    }

    .logo a:hover {
        color: var(--main-color);
    }

    .logo img {
        width: 4.2rem;
    }

    .logo svg {
        fill: var(--main-color);
        width: 1rem;
        height: 1rem;
    }



    nav ul li {
        list-style: none;
        margin: 1.7rem 0rem 0 4rem;
        font-size: 0.9rem;

    }

    nav ul li a {
        color: var(--main-color);
        letter-spacing: 0.1rem;
        font-weight: bold;
    }



    //HOME
    .home {

        position: relative;
        margin: 0 0 0rem 0;
    }

    .home-info {
        height: 14vh;
        position: absolute;
        top: 85%;
        right: 0%;
    }

    .home-info p {
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
        margin: 1.3rem 0rem 0rem 0;

    }



    .animacion-btn {
        animation-name: visible;
        animation-duration: 2.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards
    }

    //CAROUSEL
    .carousel {
        // background-color: var(--main-color);
        width: 100%;

    }

    .carousel-item img {
        width: 100%;
        height: 87vh;
        opacity: 1;
        margin: 0 0 0 0rem;
    }

    .carousel-indicators button {
        margin: 0 0 5rem 0;
        display: none;
    }





    //PRESUPUESTO
    .presupuesto-- {
        padding: 10rem 0 7rem 0;
    }

    .presupuesto-- svg {
        width: 9rem;
        height: 9rem;
    }

    .presupuesto-- p {
        font-size: 3rem;
        line-height: 3.5rem;
    }



    //NOSOTROS
    #nosotros {
        padding: 7rem 0 0rem 0;


    }

    .nosotros-titulo h2 {
        font-size: 5.7rem;
        letter-spacing: 0.7rem;
        text-shadow: 2px 2px 4px lightgray;
        color: var(--main-color);
        margin: 1.5rem 0 2rem 0;
 
    }

    .nosotros-titulo p {
        font-weight: bold;
        font-size: 1.8rem;

    }

    .herramientas-svg {
        width: 2.8rem;
        height: 2.8rem;
        margin: 1rem 1rem 1rem 0;
        background-color: whitesmoke;
        fill: black;
        // border-radius: 50%;
        // box-shadow: 3px 3px 5px lightgray;
    }


    .nosotros article {
        margin-top: 0rem;
        padding: 8rem 0 15rem 0;

    }

    .nosotros-texto {
        margin: 0 8rem 0 3rem;
        padding: 2.5rem 2rem;
        box-shadow: 6px 6px 15px lightgray;

    }

    .nosotros-texto p {
        line-height: 2.9rem;
        font-size: 1.2rem;
        padding: 0rem 1rem;
        color: white;
    }

    .nosotros-img {
        position: relative;
    }

    .nosotros-img img {
        width: 92%;
        height: 60vh;
        box-shadow: 2px 4px 4px lightgrey;
    }

    .nosotros-img .img-2 img {
        width: 35%;
        height: 35vh;
        box-shadow: 2px 4px 4px lightgrey;
        position: absolute;
        top: 60%;
        right: 5%;
    }

    //SERVICIOS
    #servicios {
        padding: 8rem 0 12rem 0;
    }

    .servicios-titulo h2 {
        font-size: 6.5rem;
        letter-spacing: 2rem;
        text-shadow: 2px 2px 4px lightgray;
        color: var(--main-color);
        margin: 1rem 0 0rem 0;
    }

    .servicios-titulo p {
        font-size: 1.3rem;
        letter-spacing: 0.04rem;
        margin: 1.5rem 0 1rem 0;
        padding: 0 25rem;
    }

    .servicios-titulo span {
        font-size: 2.5rem;
    }

    .servicios .opacity {
        background-color: #B22222;
        border-radius: 2px;
    }

    .servicios article {
        margin: 0 0 5.5rem 0;
    }

    .servicios img {
        width: 48vw;
        height: 70vh;
        border-radius: 2px;
    }


    .servicios article div a {
        position: relative;
        text-decoration: none;
    }

    .servicios article div a p {
        position: absolute;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px lightgrey;
        color: white;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        top: 40%;

    }

    //INSTAGRAM--
    .instagram-- {
        background-color: var(--main-color);
        padding: 10.5rem 0;
        margin: 0 0 0rem 0;
        color: white;
    }

    .instagram-- h6 {
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
    }

    .instagram-- a {
        text-decoration: none;
        color: white;
        font-size: 5.5rem;
        transition: 0.5s;
    }

    .instagram-- svg {
        width: 4rem;
        height: 4rem;
    }

    //CONTACTO
    #contacto {
        margin: 0rem 0 0 0;
        padding: 3rem 0 0 0;
    }

    .contacto h2 {
        font-size: 6.5rem;
        letter-spacing: 2rem;
        text-shadow: 2px 2px 4px lightgray;
        margin: 2rem 0 4rem 0;

    }

    .contacto-info {
        margin: 4rem 0 0 0;
    }


    .formulario {
        padding: 4rem 0rem 4rem 0;
        border-left: 20px solid  rgb(248, 248, 248);
        border-right: 20px solid  rgb(248, 248, 248);
        border-bottom: 20px solid  rgb(248, 248, 248);

    }

    .formulario p {
        font-size: 2.9rem;


    }



    .formulario .iconos {
        margin: 0.5rem 0;
        color: white;
        text-align: start;
    }

    .formulario a {
        text-decoration: none;
        color: white;
        letter-spacing: 0.05rem;
        font-size: 1.1rem;
        transition: 0.5s;

    }

    .formulario a:nth-child(1):hover {
        font-weight: bolder;
        color: white;
    }

    //FORMULARIO
    form {
        margin: 1rem 0 0 0;
    }

    form .form-control {
        margin: 0 0 1.2rem 0;
        width: 75%;
        border-radius: 1px;
        font-size: 0.95rem;
        background-color: rgba(255, 255, 255, 1);
        padding: 0.8rem;
        border: 1.4px solid white;
    }

    form .form-control:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        outline: 0 none;
        border: 1px solid var(--main-color);
    }

    form textarea {
        resize: none;
    }

    form button {
        border: 2px solid transparent;
        padding: 0.8rem 1.2rem;
        transition: 0.6s;
        letter-spacing: 0.2rem;
        font-size: 1.1rem;
    }

    form button:hover {

        font-weight: bolder;
        border: 2px solid var(--main-color);
    }

    footer {
        padding: 0rem 0 0.3rem 0;
        font-size: 0.9rem;
    }






    .thankyou {
        padding: 6rem 0;
    }

    .thankyou .logo img {
        width: 4rem;
        height: 3.5rem;
    }

    .thankyou .logo a {
        font-size: 1rem;
        margin: 0 0 2rem 0;
    }

    .thankyou p {
        font-size: 1.8rem;
    }

    .thankyou a {
        font-size: 1.4rem;

    }




}










@import "../node_modules/bootstrap/scss/bootstrap.scss"